In [2]:
import numpy as np
import pandas as pd

In [2]:
! pip install faker

Collecting faker
  Downloading faker-40.1.2-py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: tzdata in c:\users\megha\anaconda3\envs\megha_455\lib\site-packages (from faker) (2025.2)
Downloading faker-40.1.2-py3-none-any.whl (2.0 MB)
   ---------------------------------------- 0.0/2.0 MB ? eta -:--:--
   ---------------------------------------- 2.0/2.0 MB 15.8 MB/s  0:00:00
Installing collected packages: faker
Successfully installed faker-40.1.2

In [3]:
from faker import Faker
import csv
import random

In [7]:
fake = Faker()

In [12]:
with open("users.csv", "w", newline="", encoding="utf-8") as f:
    writer = csv.writer(f)
    writer.writerow(["user_id", "username", "email", "full_name", "bio", "profile_pic", "created_at", "is_private", "is_verified"])
    for i in range(1, 7001):
        writer.writerow([f"USR{i:05d}", fake.user_name(), fake.unique.email(), fake.name(),                    
            fake.sentence(nb_words=8), fake.image_url(), fake.date_time_this_decade(), random.choice([0, 1]), random.choice([0, 1])])

In [4]:
df1 = pd.read_csv('users.csv')

In [5]:
df1

,user_id,username,email,full_name,bio,profile_pic,created_at,is_private,is_verified
0,USR00001,patriciafitzgerald,poncejackie@example.com,Breanna Bell,Democratic citizen left amount western candidate.,https://picsum.photos/578/318,2025-01-10 06:15:41,1,1
1,USR00002,smithpatrick,millererin@example.net,Luis Walker,Plan brother minute finish move style picture ...,https://placekitten.com/450/379,2023-07-21 16:04:42,1,1
2,USR00003,harveykevin,michelleperez@example.com,Reginald Flores,Difficult trouble during break likely one caus...,https://dummyimage.com/403x318,2020-07-07 03:03:38,0,1
3,USR00004,christinanguyen,ismith@example.net,Stephanie Henry,Glass southern begin door.,https://placekitten.com/206/574,2021-07-09 05:30:53,0,0
4,USR00005,kimdawson,derekfletcher@example.com,Megan Lee,Federal house help enough step career ever run...,https://placekitten.com/380/844,2021-02-15 19:17:06,0,1
...,...,...,...,...,...,...,...,...,...
6995,USR06996,carsonwilliam,kimberlyharris@example.com,Vanessa Sanchez,Include each nature peace item finally meet bo...,https://dummyimage.com/946x233,2024-07-06 08:36:02,1,0
6996,USR06997,hector47,cainpeter@example.net,Dustin Molina,Maybe recent despite camera space about.,https://picsum.photos/791/751,2021-08-12 19:54:45,1,1
6997,USR06998,paul03,wriley@example.com,Lisa Allen,Pm religious something responsibility career.,https://placekitten.com/999/831,2022-04-25 22:33:40,0,0
6998,USR06999,ruben21,danderson@example.com,Taylor Lawson,Today company front manage firm claim all enough.,https://picsum.photos/634/356,2024-05-16 08:43:10,1,1
6999,USR07000,smithdavid,christopher31@example.com,Samantha White,Instead order reach successful institution.,https://picsum.photos/657/271,2021-04-28 00:29:40,0,1

In [11]:
from datetime import datetime

# 1) Read users and their creation dates
user_created_at = {}

with open("users.csv", "r", encoding="utf-8") as f:
    reader = csv.DictReader(f)
    for row in reader:
        user_created_at[row["user_id"]] = datetime.fromisoformat(row["created_at"])

user_ids = list(user_created_at.keys())

# 2) Generate posts
with open("posts.csv", "w", newline="", encoding="utf-8") as f:
    writer = csv.writer(f)
    writer.writerow(["post_id", "user_id", "caption", "media_url", "created_at", "location"])

    for i in range(1, 10001):
        uid = random.choice(user_ids)
        user_created = user_created_at[uid]
        post_created = fake.date_time_between(start_date=user_created,end_date='now')
        writer.writerow([f"PST{i:06d}", uid, fake.sentence(nb_words=10), fake.image_url(), post_created.isoformat(sep=' '), fake.city()])

In [12]:
df2 = pd.read_csv('posts.csv')

In [13]:
df2

,post_id,user_id,caption,media_url,created_at,location
0,PST000001,USR03339,Management wall tough huge affect car determin...,https://placekitten.com/287/508,2023-12-20 11:39:53,East Stephanie
1,PST000002,USR03892,Side raise force soldier gun mission expert go...,https://placekitten.com/50/426,2024-06-19 20:18:06,West Hollyport
2,PST000003,USR05668,Design nice approach finish be baby teacher se...,https://dummyimage.com/413x299,2023-01-15 16:17:02,Martinezfort
3,PST000004,USR03236,Relate decide building seem yard recently.,https://placekitten.com/884/595,2025-07-12 22:11:07,Reyesfurt
4,PST000005,USR00358,Price car summer during impact mission.,https://dummyimage.com/232x432,2024-09-23 23:50:44,Hollowayberg
...,...,...,...,...,...,...
9995,PST009996,USR02594,Indicate rock expect product specific herself ...,https://picsum.photos/184/286,2023-03-08 20:37:54,Nguyentown
9996,PST009997,USR02989,Property sea fast alone statement relationship...,https://dummyimage.com/645x784,2021-12-16 17:12:04,Allisonview
9997,PST009998,USR01745,Remember fund group whom similar artist for a ...,https://picsum.photos/333/139,2025-04-11 22:05:09,Seanton
9998,PST009999,USR02470,Gas executive pretty order continue old word c...,https://placekitten.com/595/119,2024-04-30 18:05:09,East Walter
9999,PST010000,USR03438,Memory glass family pay however boy.,https://placekitten.com/494/626,2024-04-10 03:41:18,Mayborough

In [14]:
# 1) Read post creation dates from posts.csv
post_created_at = {}

with open("posts.csv", "r", encoding="utf-8") as f:
    reader = csv.DictReader(f)
    for row in reader:
        post_created_at[row["post_id"]] = datetime.fromisoformat(row["created_at"])

post_ids = list(post_created_at.keys())

# 2) Generate comments.csv
with open("comments.csv", "w", newline="", encoding="utf-8") as f:
    writer = csv.writer(f)
    writer.writerow(["comment_id", "post_id", "user_id", "comment_text", "created_at"])

    for i in range(1,20001):
        pid = random.choice(post_ids)
        post_created = post_created_at[pid]

        writer.writerow([f"CMT{i:06d}", pid, f"USR{random.randint(1, 5000):05d}", fake.sentence(nb_words=12), 
                         fake.date_time_between(start_date=post_created, end_date='now').isoformat(sep=' ')])

In [15]:
df3 = pd.read_csv('comments.csv')

In [16]:
df3

,comment_id,post_id,user_id,comment_text,created_at
0,CMT000001,PST005401,USR00274,Edge room station nature our threat parent ava...,2024-01-24 15:20:02
1,CMT000002,PST007552,USR02405,Other pressure probably likely old treat watch...,2024-05-25 07:17:49
2,CMT000003,PST005346,USR03493,Win society stop or air pull east structure.,2025-12-11 19:25:19
3,CMT000004,PST008716,USR04435,Perhaps stock exactly course choose good yes s...,2026-01-07 02:19:08
4,CMT000005,PST003009,USR00314,Outside anything material source face share in...,2025-06-21 12:05:44
...,...,...,...,...,...
19995,CMT019996,PST006565,USR04271,More table account popular education reason so...,2026-01-31 02:00:25
19996,CMT019997,PST006187,USR03382,Animal general message ask position baby thing...,2025-05-13 12:13:03
19997,CMT019998,PST001834,USR03958,Instead huge sport alone society two hour part...,2023-04-18 21:17:20
19998,CMT019999,PST008284,USR03912,From when agree social language put certain pa...,2025-05-23 16:41:27
19999,CMT020000,PST007947,USR00588,Language compare enter above month the time.,2022-05-29 18:42:43

In [17]:
# 1) Read post creation dates from posts.csv
post_created_at = {}

with open("posts.csv", "r", encoding="utf-8") as f:
    reader = csv.DictReader(f)
    for row in reader:
        post_created_at[row["post_id"]] = datetime.fromisoformat(row["created_at"])

post_ids = list(post_created_at.keys())

# 2) Generate likes.csv
with open("likes.csv", "w", newline="", encoding="utf-8") as f:
    writer = csv.writer(f)
    writer.writerow(["like_id", "post_id", "user_id", "created_at"])

    for i in range(1, 30001):
        pid = random.choice(post_ids)
        post_created = post_created_at[pid]

        writer.writerow([
            f"LIK{i:06d}", pid, f"USR{random.randint(1, 7001):05d}",# user_id (USR00001 format)
            fake.date_time_between(start_date=post_created, end_date='now').isoformat(sep=' ')])

In [18]:
df4 = pd.read_csv('likes.csv')

In [19]:
df4

         like_id    post_id   user_id           created_at
0      LIK000001  PST005078  USR01622  2022-08-19 03:00:55
1      LIK000002  PST003577  USR06838  2025-11-06 13:33:40
2      LIK000003  PST000811  USR05979  2025-06-04 07:53:46
3      LIK000004  PST003073  USR05564  2026-01-30 19:07:53
4      LIK000005  PST009334  USR03258  2025-10-06 22:50:36
...          ...        ...       ...                  ...
29995  LIK029996  PST005690  USR06858  2025-06-01 14:52:26
29996  LIK029997  PST004258  USR03811  2025-09-28 22:35:44
29997  LIK029998  PST004991  USR05825  2025-07-04 21:05:17
29998  LIK029999  PST009781  USR03061  2025-07-24 02:36:11
29999  LIK030000  PST000478  USR00862  2025-10-29 08:01:56

[30000 rows x 4 columns]

In [20]:
# 1) Read user creation dates from users.csv
user_created_at = {}

with open("users.csv", "r", encoding="utf-8") as f:
    reader = csv.DictReader(f)
    for row in reader:
        user_created_at[row["user_id"]] = datetime.fromisoformat(row["created_at"])

user_ids = list(user_created_at.keys())

# 2) Generate followers.csv
with open("followers.csv", "w", newline="", encoding="utf-8") as f:
    writer = csv.writer(f)
    writer.writerow(["follower_id", "following_id", "followed_at"])

    for _ in range(15000):
        follower = random.choice(user_ids)
        following = random.choice(user_ids)

        # avoid self-follow
        while follower == following:
            following = random.choice(user_ids)
        follower_created = user_created_at[follower]
        followed_at = fake.date_time_between(start_date=follower_created,end_date='now')
        writer.writerow([follower, following, followed_at.isoformat(sep=' ')])

In [21]:
df5 = pd.read_csv('followers.csv')

In [22]:
df5

      follower_id following_id          followed_at
0        USR01377     USR01722  2023-08-08 20:01:44
1        USR00893     USR00611  2025-12-21 02:08:41
2        USR02928     USR03410  2024-11-12 04:59:33
3        USR02864     USR03043  2024-04-20 11:54:51
4        USR03117     USR05280  2023-05-23 18:48:27
...           ...          ...                  ...
14995    USR00134     USR05089  2025-07-30 00:41:51
14996    USR05687     USR03657  2020-09-22 01:44:22
14997    USR04565     USR03893  2024-10-06 05:19:24
14998    USR05651     USR04413  2026-01-06 14:59:32
14999    USR05194     USR00368  2025-08-24 23:19:21

[15000 rows x 3 columns]

In [23]:
hashtags = ["travel", "food", "fitness", "tech", "ai", "cricket", "india", "nature", "music", "coding"]

with open("hashtags.csv", "w", newline="", encoding="utf-8") as f:
    writer = csv.writer(f)
    writer.writerow(["hashtag_id", "tag"])

    for i, tag in enumerate(hashtags, start=1):
        writer.writerow([f"HSH{i:03d}", tag])

In [24]:
df6 = pd.read_csv('hashtags.csv')

In [25]:
df6

  hashtag_id      tag
0     HSH001   travel
1     HSH002     food
2     HSH003  fitness
3     HSH004     tech
4     HSH005       ai
5     HSH006  cricket
6     HSH007    india
7     HSH008   nature
8     HSH009    music
9     HSH010   coding

In [26]:
# Read post_ids
post_ids = []
with open("posts.csv", "r", encoding="utf-8") as f:
    reader = csv.DictReader(f)
    for row in reader:
        post_ids.append(row["post_id"])

# Read hashtag_ids
hashtag_ids = []
with open("hashtags.csv", "r", encoding="utf-8") as f:
    reader = csv.DictReader(f)
    for row in reader:
        hashtag_ids.append(row["hashtag_id"])

# Generate post_hashtags.csv
with open("post_hashtags.csv", "w", newline="", encoding="utf-8") as f:
    writer = csv.writer(f)
    writer.writerow(["post_id", "hashtag_id"])

    for _ in range(20000):
        writer.writerow([random.choice(post_ids), random.choice(hashtag_ids)])

In [29]:
df7 = pd.read_csv('post_hashtags.csv')

In [30]:
df7

         post_id hashtag_id
0      PST000572     HSH006
1      PST008706     HSH010
2      PST005523     HSH008
3      PST009559     HSH007
4      PST007777     HSH001
...          ...        ...
19995  PST003811     HSH010
19996  PST002543     HSH002
19997  PST000653     HSH006
19998  PST001606     HSH005
19999  PST005218     HSH007

[20000 rows x 2 columns]